// Header
.blogHeader {
    height: 60vh;
    background-image: url(../assets/blog-image-1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

// Main
.mainAside {
    display: flex;
    justify-content: space-between;
    main {
        width: 70%;
        .blogPost {
            padding-right: 20px;
            border-right: 5px solid $turquoise;
            img {
                width: 120%;
                box-shadow: 20px 20px $turquoise;
                position: relative;
                top: -150px;
                left: -170px;
            }
            .byline {
                color: $darkBlue;
                font-style: italic;
                letter-spacing: 1px;
            }
            .blogBottom {
                margin-bottom: 0;
                padding-bottom: 50px;
            }
        }
    }
    aside {
        margin-top: 100px;
        width: calc(35% - 290px);
        position: absolute;
        right: 100px;
        img {
            height: 400px;
            width: auto;
        }
        h5 {
            margin: 20px 0;
            font-family: $bodyFont;
            font-size: 20px;
            line-height: 32px;
            letter-spacing: 2px;
            color: $darkBlue;
        }
        p {
            margin: 0;
            &.missionLink {
                color: $green;
            }
        }
        li::before {
            content: "• ";
            color: $turquoise;
        }
    }
}

.borderLine {
    width: 1200px;
    height: 5px;
    display: block;
    background-color: $turquoise;
    position: relative;
    bottom: 5px;
    right: 320px;
}

.commentSection {
    margin: 50px 0;
    h4 {
        color: $black;
        letter-spacing: 1px;
    }
    .reyansh,
    .olivia {
        display: flex;
        justify-content: space-between;
        margin: 20px 0;
        .commentImage {
            width: 15%;
        }
        .commentText {
            width: 82%;
            p.date {
                font-weight: 700;
                color: $darkBlue;
            }
        }
    }
    .commentForm {
        background-color: $iceBlue;
        height: 55vh;
        textarea {
            background-color: $iceBlue;
        }
    }
}