// Header
.contactHeader {
    height: 60vh;
    background-image: url(../assets/contact-image-1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

// Main
.contactMain {
    background-color: $iceBlue;
    .wrapper {
    display: flex;
    justify-content: space-between;
    }
}

.contactForm {
    position: relative;
    top: -150px;
    width: 70%;
    box-shadow: 20px 20px $turquoise;
}

.contactAside {
    border: 2px solid orange;
    margin: 100px 0 180px;
    ul {
        display: flex;
        justify-content: space-between;
        padding-right: 50px;
        i {
            font-size: 30px;
            color: $black;
        }
    }
    .email {
        font-weight: 700;
    }
    .phoneAddress p {
        margin: 0;
        font-weight: 300;
    }
}