@media (max-width: 1450px) {
    /* Home page */
    .moreSection {
        .locations img {
            width: 100%;
            left: 0;
        }
        .plan img {
            width: 100%;
        }
    }

    /* Blog page */
    .mainAside {
        flex-direction: column;
        main {
            width: 100%;
            .blogPost {
                border-bottom: 5px solid $turquoise;
                img {
                    width: 100%;
                    left: 0;
                }
            }
            .borderLine {
                display: none;
            }
        }
        aside {
            position: static;
            width: 100%;
            display: flex;
            justify-content: space-between;
            margin-top: 0;
            margin-bottom: 100px;
            .asideText {
                width: 60%;
                margin-left: 15px;
            }
        }
    }
}

@media (max-width: 1350px) {
    /* Home page */
    .aboutSection {
        .iconBackground {
            margin-bottom: 180px;
        }
    }
}

@media (max-width: 1200px) {
    /* Header nav - all pages */
    nav {
        i {
        position: static;
        opacity: 1;
        }
        ul {
            display: none;
        }
    }

    /* Home page */
    .homeHeader h2 {
        font-size: 50px;
        letter-spacing: 5px;
        left: 180px;
        span {
            font-size: 90px;
        }
    }

    .heroSection {
        flex-direction: column-reverse;
        .heroImage {
            width: 50%;
            margin: 0 auto;
        }
        .heroText {
            width: 100%;
            text-align: center;
            margin-top: 100px;
        }
    }

    .moreSection .wrapper {
        flex-direction: column;
        width: 70%;
        .locations {
            width: 100%;
            text-align: center;
            img {
                top: 0;
                margin-bottom: 50px;
            }
        }
        .plan {
            display: flex;
            flex-direction: column-reverse;
            width: 100%;
            text-align: center;
            img {
                bottom: 0;
                margin: 50px 0;
            }
        }
    }
    
    /* Contact page */
    .contactMain .wrapper {
        flex-direction: column;
        .contactForm {
            width: 100%;
            height: 60vh;
        }
        .contactAside {
            margin: 0 auto 80px;
            ul {
                padding: 0;
                justify-content: space-around;
            }
            i,
            p {
                font-size: 35px;
                line-height: 50px;
                text-align: center;
            }
        }
    }
}

@media (max-width: 1045px) {
    .aboutSection {
        .iconBackground {
            margin-bottom: 200px;
        }
    }
}

@media (max-width: 900px) {
    /* Home page */
    .homeHeader {
        img {
            display: none;
        }
        h2 {
            left: 0;
        }
    }

    .aboutSection {
        flex-direction: column;
        .iconsLeft,
        .iconsRight {
            display: none;
        }
        h4 {
            border-bottom: 5px solid $turquoise;
        }
    }

    /* Forms */
    form {
        .nameEmail {
            flex-direction: column;
            margin-bottom: 40px;
        }
        input {
            width: 100%;
        }
        button {
            margin-top: 40px;
        }
    }

    /* Blog page */
    .blogAside {
        img {
            width: 50%;
        }
        .asideText {
                width: calc(50% - 15px);
            }
    }
}

@media (max-width: 700px) {
    
}