.heroSection {
    padding: 150px 0 100px;
    display: flex;
    justify-content: space-between;
    border: 2px solid red;
    .heroText {
        border: 2px solid blue;
        width: 63%;
    }
    .heroImage {
        border: 2px solid yellowgreen;
        width: 27%;
        img {
            box-shadow: -20px 20px $turquoise;
        }
    }
    h3 {
        color: $green;
    }
}

.gallerySection {
    background-color: $lightBlue;
    ul {
        border: 2px solid red;
        display: flex;
        justify-content: space-between;
        padding: 80px 0;
        li {
            width: 30%;
        }
    }
}

.aboutSection {
    border: 2px solid blue;
    padding: 60px 0;
    display: flex;
    justify-content: space-between;
    .iconsLeft,
    .iconsRight {
        border: 2px solid red;
        height: 100%;
    }
    .iconBackground {
        border: 2px solid yellowgreen;
        margin: 0 10px 140px 0;
    }
    i {
        font-size: 30px;
        color: white;
        padding: 10px;
        background-color: $turquoise;
        border-radius: 50%;
        width: 100%;
        text-align: center;
    }
}

.moreSection {
    background-color: $lightBlue;
    padding: 80px 0;
    .wrapper {
        display: flex;
        justify-content: space-between;
        img {
            position: relative;
            width: 118%;
        }
        .locations {
            border: 2px solid magenta;
            width: calc(50% - 100px);
            img {
                box-shadow: 20px 20px $turquoise;
                top: -110px;
                right: 100px;
            }
        }
        .plan {
            border: 2px solid orange;
            width: calc(50% - 100px);
            p {
                margin-bottom: 40px;
            }
            img {
                box-shadow: -20px 20px $turquoise;
                bottom: -110px;
            }
        }
    }
    h3 {
        color: $darkBlue;
    }
}

.bottomSection {
    .background {
        height: 50vh;
        background-image: url(../assets/banner-image.jpg);
        background-size: cover;
    }
    .freeTrip {
        padding: 200px 0;
        text-align: center;
    }
}