// Site colours
$darkBlue: #063974;
$lightBlue: #D2F9F1;
$iceBlue: #FAFFFE;
$black: #2c2c2c;
$green: #0C5F4C;
$turquoise: #50E3C2;

//Site fonts
$headingFont: 'Playfair Display SC', serif;
$bodyFont: 'Lato', sans-serif;