@charset "UTF-8";
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  background-color: #FAFFFE;
}

.skip-link {
  position: absolute;
  left: -1000px;
  top: 5px;
  z-index: 999;
  background: white;
  color: black;
}

.skip-link:focus {
  left: 0;
}

.wrapper {
  max-width: 1260px;
  width: 90%;
  margin: 0 auto;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

section a,
button {
  font-family: "Playfair Display SC", serif;
  color: #FAFFFE;
  background-color: #063974;
  text-transform: capitalize;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 1px;
  padding: 11px 15px 15px;
}

button {
  border: none;
  cursor: pointer;
}

h2 {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  line-height: 58px;
  font-size: 87px;
  letter-spacing: 9px;
  color: white;
  position: relative;
  top: 150px;
  left: 70px;
}

h3 {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 35px;
  line-height: 58px;
  letter-spacing: 3.8px;
  margin: 0;
  color: #0C5F4C;
}

h4 {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 58px;
  letter-spacing: 3.2px;
  margin: 0;
  color: #0C5F4C;
}

::-webkit-input-placeholder {
  font-family: "Lato", sans-serif;
  color: #2c2c2c;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 2px;
}

::-moz-placeholder {
  font-family: "Lato", sans-serif;
  color: #2c2c2c;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 2px;
}

:-ms-input-placeholder {
  font-family: "Lato", sans-serif;
  color: #2c2c2c;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 2px;
}

::-ms-input-placeholder {
  font-family: "Lato", sans-serif;
  color: #2c2c2c;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 2px;
}

p,
::placeholder,
aside li {
  font-family: "Lato", sans-serif;
  color: #2c2c2c;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 2px;
}

form {
  border: 2px solid magenta;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 50px;
}
form .nameEmail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
form input {
  border: none;
  border-bottom: 2px solid #50E3C2;
  width: calc(50% - 15px);
  padding: 20px;
}
form textarea {
  border: 2px solid #50E3C2;
  padding: 20px;
  resize: none;
}
form ::-webkit-input-placeholder {
  font-weight: 300;
}
form ::-moz-placeholder {
  font-weight: 300;
}
form :-ms-input-placeholder {
  font-weight: 300;
}
form ::-ms-input-placeholder {
  font-weight: 300;
}
form ::placeholder {
  font-weight: 300;
}

.homeHeader {
  height: 80vh;
  background-image: url(../assets/home-image-1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.homeHeader img {
  width: 650px;
  position: absolute;
  top: 200px;
  left: 0;
}
.homeHeader h2 {
  font-size: 62px;
  letter-spacing: 6.7px;
  text-transform: lowercase;
  color: #0C5F4C;
  position: relative;
  top: 230px;
  left: 220px;
  z-index: 10;
}
.homeHeader h2 span {
  font-family: "Playfair Display SC", serif;
  font-size: 111.2px;
  color: #063974;
  line-height: 110px;
}

nav {
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
nav h1 {
  margin: 0;
  font-family: "Playfair Display SC", serif;
  color: #50E3C2;
  text-transform: lowercase;
  font-size: 34.6px;
}
nav i {
  color: #FAFFFE;
  font-size: 35px;
  position: absolute;
  left: -1000px;
  opacity: 0;
}
nav ul {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
nav a {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 29px;
  letter-spacing: 1px;
  color: #FAFFFE;
}
nav a:hover, nav a:focus, nav a:active {
  color: #50E3C2;
}

.heroSection {
  padding: 150px 0 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 2px solid red;
}
.heroSection .heroText {
  border: 2px solid blue;
  width: 63%;
}
.heroSection .heroImage {
  border: 2px solid yellowgreen;
  width: 27%;
}
.heroSection .heroImage img {
  -webkit-box-shadow: -20px 20px #50E3C2;
          box-shadow: -20px 20px #50E3C2;
}
.heroSection h3 {
  color: #0C5F4C;
}

.gallerySection {
  background-color: #D2F9F1;
}
.gallerySection ul {
  border: 2px solid red;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 80px 0;
}
.gallerySection ul li {
  width: 30%;
}

.aboutSection {
  border: 2px solid blue;
  padding: 60px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.aboutSection .iconsLeft,
.aboutSection .iconsRight {
  border: 2px solid red;
  height: 100%;
}
.aboutSection .iconBackground {
  border: 2px solid yellowgreen;
  margin: 0 10px 140px 0;
}
.aboutSection i {
  font-size: 30px;
  color: white;
  padding: 10px;
  background-color: #50E3C2;
  border-radius: 50%;
  width: 100%;
  text-align: center;
}

.moreSection {
  background-color: #D2F9F1;
  padding: 80px 0;
}
.moreSection .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.moreSection .wrapper img {
  position: relative;
  width: 118%;
}
.moreSection .wrapper .locations {
  border: 2px solid magenta;
  width: calc(50% - 100px);
  text-align: right;
}
.moreSection .wrapper .locations img {
  -webkit-box-shadow: 20px 20px #50E3C2;
          box-shadow: 20px 20px #50E3C2;
  top: -110px;
  right: 100px;
}
.moreSection .wrapper .plan {
  border: 2px solid orange;
  width: calc(50% - 100px);
}
.moreSection .wrapper .plan p {
  margin-bottom: 40px;
}
.moreSection .wrapper .plan img {
  -webkit-box-shadow: -20px 20px #50E3C2;
          box-shadow: -20px 20px #50E3C2;
  bottom: -110px;
}
.moreSection h3 {
  color: #063974;
}

.bottomSection .background {
  height: 50vh;
  background-image: url(../assets/banner-image.jpg);
  background-size: cover;
}
.bottomSection .freeTrip {
  padding: 200px 0;
  text-align: center;
}

footer {
  background-color: #2c2c2c;
}
footer p {
  margin: 0;
  color: white;
  text-align: center;
}

.contactHeader {
  height: 60vh;
  background-image: url(../assets/contact-image-1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.contactMain {
  background-color: #FAFFFE;
}
.contactMain .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contactForm {
  position: relative;
  top: -150px;
  width: 70%;
  -webkit-box-shadow: 20px 20px #50E3C2;
          box-shadow: 20px 20px #50E3C2;
}

.contactAside {
  border: 2px solid orange;
  margin: 100px 0 180px;
}
.contactAside ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-right: 50px;
}
.contactAside ul i {
  font-size: 30px;
  color: #2c2c2c;
}
.contactAside .email {
  font-weight: 700;
}
.contactAside .phoneAddress p {
  margin: 0;
  font-weight: 300;
}

.blogHeader {
  height: 60vh;
  background-image: url(../assets/blog-image-1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.mainAside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.mainAside main {
  width: 70%;
}
.mainAside main .blogPost {
  padding-right: 20px;
  border-right: 5px solid #50E3C2;
}
.mainAside main .blogPost img {
  width: 120%;
  -webkit-box-shadow: 20px 20px #50E3C2;
          box-shadow: 20px 20px #50E3C2;
  position: relative;
  top: -150px;
  left: -170px;
}
.mainAside main .blogPost .byline {
  color: #063974;
  font-style: italic;
  letter-spacing: 1px;
}
.mainAside main .blogPost .blogBottom {
  margin-bottom: 0;
  padding-bottom: 50px;
}
.mainAside aside {
  border: 2px solid magenta;
  margin-top: 100px;
  width: calc(35% - 290px);
  position: absolute;
  right: 100px;
}
.mainAside aside img {
  height: 400px;
  width: auto;
}
.mainAside aside h5 {
  margin: 20px 0;
  font-family: "Lato", sans-serif;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 2px;
  color: #063974;
}
.mainAside aside p {
  margin: 0;
}
.mainAside aside p.missionLink {
  color: #0C5F4C;
}
.mainAside aside li::before {
  content: "• ";
  color: #50E3C2;
}

.borderLine {
  width: 1200px;
  height: 5px;
  display: block;
  background-color: #50E3C2;
  position: relative;
  bottom: 5px;
  right: 320px;
}

.commentSection {
  border: 2px solid red;
  margin: 50px 0;
}
.commentSection h4 {
  color: #2c2c2c;
  letter-spacing: 1px;
}
.commentSection .reyansh,
.commentSection .olivia {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 20px 0;
}
.commentSection .reyansh .commentImage,
.commentSection .olivia .commentImage {
  border: 2px solid orange;
  width: 15%;
}
.commentSection .reyansh .commentText,
.commentSection .olivia .commentText {
  border: 2px solid green;
  width: 82%;
}
.commentSection .reyansh .commentText p.date,
.commentSection .olivia .commentText p.date {
  font-weight: 700;
  color: #063974;
}
.commentSection .commentForm {
  background-color: #FAFFFE;
  height: 55vh;
}
.commentSection .commentForm textarea {
  background-color: #FAFFFE;
}

@media (max-width: 1450px) {
  /* Home page */
  .moreSection .locations img {
    width: 100%;
    left: 0;
  }
  .moreSection .plan img {
    width: 100%;
  }

  /* Blog page */
  .mainAside {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .mainAside main {
    width: 100%;
  }
  .mainAside main .blogPost {
    border-bottom: 5px solid #50E3C2;
  }
  .mainAside main .blogPost img {
    width: 100%;
    left: 0;
  }
  .mainAside main .borderLine {
    display: none;
  }
  .mainAside aside {
    position: static;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 0;
    margin-bottom: 100px;
  }
  .mainAside aside .asideText {
    width: 60%;
    margin-left: 15px;
  }
}
@media (max-width: 1350px) {
  /* Home page */
  .aboutSection .iconBackground {
    margin-bottom: 180px;
  }
}
@media (max-width: 1200px) {
  /* Header nav - all pages */
  nav i {
    position: static;
    opacity: 1;
  }
  nav ul {
    display: none;
  }

  /* Home page */
  .homeHeader h2 {
    font-size: 50px;
    letter-spacing: 5px;
    left: 180px;
  }
  .homeHeader h2 span {
    font-size: 90px;
  }

  .heroSection {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .heroSection .heroImage {
    width: 50%;
    margin: 0 auto;
  }
  .heroSection .heroText {
    width: 100%;
    text-align: center;
    margin-top: 100px;
  }

  .moreSection .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 70%;
  }
  .moreSection .wrapper .locations {
    width: 100%;
    text-align: center;
  }
  .moreSection .wrapper .locations img {
    top: 0;
    margin-bottom: 50px;
  }
  .moreSection .wrapper .plan {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    width: 100%;
    text-align: center;
  }
  .moreSection .wrapper .plan img {
    bottom: 0;
    margin: 50px 0;
  }

  /* Contact page */
  .contactMain .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contactMain .wrapper .contactForm {
    width: 100%;
    height: 60vh;
  }
  .contactMain .wrapper .contactAside {
    margin: 0 auto 80px;
  }
  .contactMain .wrapper .contactAside ul {
    padding: 0;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .contactMain .wrapper .contactAside i,
.contactMain .wrapper .contactAside p {
    font-size: 35px;
    line-height: 50px;
    text-align: center;
  }
}
@media (max-width: 1045px) {
  .aboutSection .iconBackground {
    margin-bottom: 200px;
  }
}
@media (max-width: 900px) {
  /* Home page */
  .homeHeader img {
    display: none;
  }
  .homeHeader h2 {
    left: 0;
  }

  .aboutSection {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .aboutSection .iconsLeft,
.aboutSection .iconsRight {
    display: none;
  }
  .aboutSection h4 {
    border-bottom: 5px solid #50E3C2;
  }

  /* Forms */
  form .nameEmail {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 40px;
  }
  form input {
    width: 100%;
  }
  form button {
    margin-top: 40px;
  }

  /* Blog page */
  .blogAside img {
    width: 50%;
  }
  .blogAside .asideText {
    width: calc(50% - 15px);
  }
}